    :root{
  --main-font: 'Source Sans Pro', sans-serif;
  --secondary-font: 'Herr Von Muellerhoff', cursive;
  --body-font: 'Cabin', sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
}
.rating i{
  color: #C7511F;
  font-size:12px;
}
.cart{
 right: 1.5rem;
}

html{
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color); 
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  
}

a{
  text-decoration: none;
}
.nav{
    height: 7.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #252525;
  }
  #logo img{
    position: absolute;
      top: -21px;
      transform: translateY(-30%);
      left: -3.5rem;
      width: 15%;
  }
  .menu-toggle{
     color: #fff;
    font-size: 2.2rem;
    position: fixed;
     top: 40px; 
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
  }
  
  .fa-times{
    display: none;
  }
  .nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 90vh;
    background-color: var(--main-font-color-dark) ;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
  }
  
  .nav::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
  }
  .open .fa-times{
    display: block;
}

.open .fa-bars{
  display: none;
}
.open .nav-list{
  transform: translateX(0);
}
.open .nav::before{
  opacity: 1;
  transform: scale(1);
}

.nav-item{
  border-bottom: 2px solid rgba(255,255,255,.3);
}

.nav-link{
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color .5s;
}
.nav-link:hover{
    color: var(--secondary-font-color);
  }
  .input-group{
    display: flex;
    
    
  }
  .btn-primary{
    background-color:rgb(14, 124, 187);
   color: white;
  }
  input{
    height: 50px;
    font-size: 1.5em;
    width: 0;
    outline: none;
    padding-left: 10px;
    border: none;
    border-radius: 15px;
    transition: all .5s;
  }
  .icon{
    height: 60px;
    width: 60px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    color: #fff;
    cursor: pointer;
    transform: translateX(-30px);
  }
  
  .icon span{
    transform: rotate(-45deg);
  }
  
  .active{
    width: 60%;
  }
  
  input:hover{
    box-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff;
  }
  .cart {
    position: relative;
    height: 25px;
    width: 50px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
    font-size: 21px
  }

  /* Footer */
  .footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  .footer p{
    color: #8a8a8a;
  }
  .footer h3{
    color: #fff;
    margin-bottom: 20px;
  }
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
  }
  .footer-col-1{
    flex-basis: 30%;
}
.footer-col-1 img{
  width: 140px;
}.footer-col-2{
  flex: 1;
  text-align: center;
}
.footerlogo{
  margin: -87px 0;
}
.footerlogo img{
  width: 352px;
  margin: -95px;
}
.footer-col-2 p{
margin-top: 119px;
}
.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.app-logo{
margin-top: 20px;
}

.footer hr{
border: none;
background: #b5b5b5;
height: 1px;
margin: 20px 0;
}
.copyright{
text-align: center;
}
.row{
    display: flex;
  }
  .copyright img{
    padding: 9px 1001px;
      margin-top: -33px;
  }
  
  .copyright p{
    margin-bottom: -3px;
  }
  .prod{
    display: flex;
  }
  .content h1{
    font-size: 35px;
  }
  .content p{
    margin: -27px 25px 20px 65px;
      font-size: 23px;
  }
  .content h2{
    font-size: 30px;
  }
  .content h4{
    font-size: 14px;
  }
  .content span{
    color: #2874f0; 
    cursor: pointer;
  }
  .col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  .col-4 img{
    width: 50%;
    cursor: pointer;
  }
  .col-4:hover{
    transform: translateY(-10px);
    }
   .addcart{
    background-color: rgb(25, 103, 210);
              height: 50px;
              width: 200px;
              border-radius: 18px;
              font-size: 25px;
              border: 2px solid white; color: white;
              cursor: pointer;
   } 
   .buy{
    background-color: #249924; 
    height: 50px; width: 200px; 
    border-radius: 18px; 
    border: 2px solid white; 
    color: white; 
    font-size: 25px;
    cursor: pointer;
   }
   #mypic img{
    width: 88%;
      height: 35%;
      margin: 136px -4px 25px 43px;
  }
  .content{
    margin-left: 200px;
  }
  .content h3{
    font-size: 20px; 
    font-weight: bold;
  }
  .row1{
    display: flex;
  }

  @media screen and (max-width: 991px){
    .nav{
      height: 16.2rem;    
    }
    #logo img {
      top: -33px;
      left: -9.5rem;
      width: 121%;
  
    }
    .menu-toggle{
      font-size: 3.5rem;
       top: 75px; 
    }
    .nav-list{
      height: 380vh;
      justify-content: space-around;
    }
    .nav-link {
        font-size: 3.0rem;
    }
    .dropbtn {
      font-size: 37px;
    }
    .dropdown-content a {
      font-size: 18px;
    }
    input{
      font-size: 2.2em;
    }
    
    .icon{
      height: 68px;
      width: 68px;
      font-size: 3.5em;
    }
     
    .cart {
      height: 38px ;
      width: 65px;
      font-size: 3.5em;
    }
   body{
    width: 397%;
  }
  .prod{
    display: block;
  }
  .content{
    margin-top: 90px;
    margin-left: 33px;
  }
  #mypic img{
    width: 25%;
      height: 6%;
      margin: 140px -4px 25px 440px;
  }
  .content h1{
    font-size: 55px;
  }
  .content h2{
    font-size: 48px;
  }
  .content h3{
    margin-top: 106px;
    font-size: 35px; 
  }
  .content h4{
    font-size: 24px;
  }
  .addcart{
    margin: 50px 340px;
    height: 58px;
    font-size: 30px;
  }
  .buy{
    margin: 50px -313px;
    height: 58px;
    font-size: 30px;
  }
  .similarprod{
    margin-top: 70px;
  }
  .row1{
    margin-top: 80px;
  }
  .footer{
    text-align: center;
        font-size: 22px;
      }
     .row{
      flex-direction: column;
      flex-wrap: wrap;
     }
     .footer-col-1{
      margin: 0 493px;
     }
     .footer-col-2 {
      margin: 55px;
     }
     .footerlogo img {
      width: 449px;
      margin: -118px;
  }
     .footer-col-3 h3{
         text-align: center;
     }

      footer{
        margin-top: 70px;
        width: 102%;
        height: 0px;
      }
      .copyright img{
        position: absolute;
    padding: 10px 151px;

    }
    
  .copyright p{
    text-align: left;
  }
}
 
